@using MvcBootstrapBook.Models;
@model List<Task>
@using System.Collections;
@using System.Collections.Generic;

@{   
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index1";
}

<body>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
	  .MyMarginLeft {margin-left: 20em; }
	  .MyMarginRight {margin-right: 20em; }
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div>
    <p>
        <h2><center>Task List:</center></h2>
        @for (int i = 0; i < Model.Count; i++ )
        {
          Task t = Model[i];
          
          if (t.IsCompleted)
          {
            <div class="alert alert-success" role="alert" data-toggle="modal" data-target="#myModal">
              @t.Text
            </div>
          }
          else
          {
            <div class="alert alert-info" role="alert" data-toggle="modal" data-target="#myModal">
              @t.Text  @Html.ActionLink("Done", "Done", new { idx = i}, null)
            </div>
          }
        }
    </p>
</div>

 <center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewTaskModal">Add new task</button></center>

<!-- Modal -->
<div id="addNewTaskModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
            @using (Html.BeginForm("Create", "Home", FormMethod.Post))
             {
                <div class="form-group">
                  <label for="text">Task text:</label>
                  <input type="text" class="form-control" name="taskText">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            }
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</body>